<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게스트 예약 상세</title>

    <!--CSS-->
    <link href="../../../assets/yu/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/yu/css/Gairbnb.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/yu/css/booking.css" rel="stylesheet" type="text/css"/>

    <!--자바스크립트-->
    <script type="text/javascript" src="../../../assets/yu/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../assets/yu/js/jquery-1.12.4.js"></script>
</head>

<body>
    <div id="header">
        <div id="logo" class="col-xs-3">
            <img class="logo-img" src="../../../assets/yu/images/logo2.jpg">
        </div>
        <div id="search" class="col-xs-4">
            <img class="logo-img" src="../../../assets/yu/images/2.png">
        </div>
        <div id="menu" class="col-xs-2">
            <button type="button" class="btn btn-default menu">펫시터되기</button>
            <button type="button" class="btn btn-default menu"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin:0px;"></span><span class="badge">0</span></button>
            <button type="button" class="btn btn-default menu"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="margin:0px;"></span></button>
        </div>
    </div>


    <div id="wrap">
        
        <div id="container" class="clearfix">
            <div id="aside">
				<ul id="b-aside">
					<li class="menu">예약관리<img src="../../../assets/yu/images/aside.png" class="aside-img"></li>
					<ul id="s-aside" class="hide">
						<li>결제 대기내역</li>
						<li>예약관리</li>
					</ul>
					<li>메세지</li>
					<li>찜목록</li>
					<li>내 정보 수정</li>
				</ul>
			</div>

            <div id="content" class="clearfix">
                <div id="content-head">
					<div id="location" class="clearfix">
						<ul>
							<li>마이페이지</li>
							<li>예약관리</li>
                            <li>예약신청관리</li>
							<li class="last">예약상세</li>
						</ul>
					</div>
					<h1>예약상세</h1>
				</div>

                <div id="content-main" class="clearfix container-fluid">

                    <div id="btn-area2">
                        <button class="btn btn-default add-img">목록으로 돌아가기</button>
                    </div>

                    <div id="gallery" class="col-xs-7">
                        <!-- 사진 넣는 공간 -->
                        <div class="info">
                            <h2>펫사진</h2>
                            <hr><div class="wrapper">
                                <h3>22-02-04 금요일</h3>
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img1.jpg" class="wrapper-img">
                                        <div class="caption">놀이</div>
                                    </div>
                                </div>
                            
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img2.jpg" class="wrapper-img">
                                        <div class="caption">산책</div>
                                    </div>
                                </div>
                            
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg" class="wrapper-img">
                                        <div class="caption">식사</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/7cQCk5I.jpg" class="wrapper-img">
                                        <div class="caption">청결</div>
                                    </div>
                                </div>
                            </div>

                            <div class="wrapper">
                                <h3>22-02-03 목요일</h3>
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img1.jpg" class="wrapper-img">
                                        <div class="caption">놀이</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img2.jpg" class="wrapper-img">
                                        <div class="caption">산책</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg" class="wrapper-img">
                                        <div class="caption">식사</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/7cQCk5I.jpg" class="wrapper-img">
                                        <div class="caption">청결</div>
                                    </div>
                                </div>
                            </div>

                            <div class="wrapper">
                                <h3>22-02-02 수요일</h3>
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img1.jpg" class="wrapper-img">
                                        <div class="caption">놀이</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img2.jpg" class="wrapper-img">
                                        <div class="caption">산책</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg" class="wrapper-img">
                                        <div class="caption">식사</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/7cQCk5I.jpg" class="wrapper-img">
                                        <div class="caption">청결</div>
                                    </div>
                                </div>
                            </div>

                            <div class="wrapper">
                                <h3>22-02-01 화요일</h3>
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img1.jpg" class="wrapper-img">
                                        <div class="caption">놀이</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="../../../assets/yu/images/ex_img2.jpg" class="wrapper-img">
                                        <div class="caption">산책</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg" class="wrapper-img">
                                        <div class="caption">식사</div>
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/7cQCk5I.jpg" class="wrapper-img">
                                        <div class="caption">청결</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="information" class="col-xs-5">
                        <!-- 펫시터 정보 넣는 공간 -->
                        <div class="info">
                            <h2>펫시터 정보</h2>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">이름</div>
                                    <div class="col-xs-6">개장수</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">연락처</div>
                                    <div class="col-xs-6">010-0000-0000</div>
                                </div>
                            </div>
                        </div>

                        <!-- 예약정보 넣는 공간 -->
                        <div class="info">
                            <h2>예약 정보</h2>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">위치</div>
                                    <div class="col-xs-6">서울특별시 관악구 봉천동</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">펫설명/요청사항</div>
                                    <div class="col-xs-6">하루에 1번 꼭 산책을 시켜주세요!</div>
                                </div>
                            </div>
                        </div>

                        <!-- 결제정보 넣는 공간 -->
                        <div class="info">
                            <h2>결제 정보</h2>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">가격(1박)</div>
                                    <div class="col-xs-6">₩ 20,000</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">시팅일수</div>
                                    <div class="col-xs-6">4일</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">반려견 수</div>
                                    <div class="col-xs-6">2마리</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">총 결제 금액</div>
                                    <div class="col-xs-6">₩ 160,000</div>
                                </div>
                            </div>
                        </div>

                        <!-- 리뷰 넣는 공간 -->
                        <div class="info container-fluid">
                            <h2>리뷰 & 별점</h2>
                            <hr>
                            <div id="review" class="row">
                                <div class="col-xs-6">
                                    <h3>식사</h3>
                                    <div class="rating">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc6" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc7" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc8" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc9">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc10">
                                        <label for="rc6" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        </label>
                                        <label for="rc7" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">2</span>
                                        </label>
                                        <label for="rc8" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">3</span>
                                        </label>
                                        <label for="rc9" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">4</span>
                                        </label>
                                        <label for="rc10" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">5</span>
                                        </label>   
                                    </div>
                                </div>

                                <div class="col-xs-6 review2">
                                    <h3>산책</h3>
                                    <div class="rating">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc6" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc7" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc8" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc9">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc10">
                                        <label for="rc6" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        </label>
                                        <label for="rc7" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">2</span>
                                        </label>
                                        <label for="rc8" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">3</span>
                                        </label>
                                        <label for="rc9" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">4</span>
                                        </label>
                                        <label for="rc10" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">5</span>
                                        </label>   
                                    </div>
                                </div>
                            </div>

                            <div id="review" class="row">
                                <div class="col-xs-6">
                                    <h3>청결</h3>
                                    <div class="rating">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc6" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc7" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc8" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc9">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc10">
                                        <label for="rc6" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        </label>
                                        <label for="rc7" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">2</span>
                                        </label>
                                        <label for="rc8" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">3</span>
                                        </label>
                                        <label for="rc9" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">4</span>
                                        </label>
                                        <label for="rc10" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">5</span>
                                        </label>   
                                    </div>
                                </div>

                                <div class="col-xs-6 review2">
                                    <h3>놀이</h3>
                                    <div class="rating">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc6" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc7" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc8" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc9">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc10">
                                        <label for="rc6" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        </label>
                                        <label for="rc7" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">2</span>
                                        </label>
                                        <label for="rc8" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">3</span>
                                        </label>
                                        <label for="rc9" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">4</span>
                                        </label>
                                        <label for="rc10" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">5</span>
                                        </label>   
                                    </div>
                                </div>
                            </div>


                            <div id="review" class="row">
                                <div class="col-xs-6">
                                    <h3>소통</h3>
                                    <div class="rating">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc6" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc7" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc8" checked="checked">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc9">
                                        <input type="radio" name="rating-star2" class="rating__control screen-reader" id="rc10">
                                        <label for="rc6" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        </label>
                                        <label for="rc7" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">2</span>
                                        </label>
                                        <label for="rc8" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">3</span>
                                        </label>
                                        <label for="rc9" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">4</span>
                                        </label>
                                        <label for="rc10" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <span class="screen-reader">5</span>
                                        </label>   
                                    </div>
                                </div>
                            </div>

                            <div id="review" class="row">
                                <div class="col-xs-6 review-text">
                                    <h3>후기</h3>
                                    <textarea>좋아요~</textarea>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            
            
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="star" viewBox="0 0 26 28">
          <path d="M26 10.109c0 .281-.203.547-.406.75l-5.672 5.531 1.344 7.812c.016.109.016.203.016.313 0 .406-.187.781-.641.781a1.27 1.27 0 0 1-.625-.187L13 21.422l-7.016 3.687c-.203.109-.406.187-.625.187-.453 0-.656-.375-.656-.781 0-.109.016-.203.031-.313l1.344-7.812L.39 10.859c-.187-.203-.391-.469-.391-.75 0-.469.484-.656.875-.719l7.844-1.141 3.516-7.109c.141-.297.406-.641.766-.641s.625.344.766.641l3.516 7.109 7.844 1.141c.375.063.875.25.875.719z"/>
        </symbol>
    </svg>
</body>

<script>
/* aside */
	// html dom 이 다 로딩된 후 실행된다.
	$(document).ready(function() {
		// memu 클래스 바로 하위에 있는 a 태그를 클릭했을때
		$(".menu").click(function() {
			// 현재 클릭한 태그가 a 이기 때문에
			// a 옆의 태그중 ul 태그에 hide 클래스 태그를 넣던지 빼던지 한다.
			$(this).next("ul").toggleClass("hide");
		});
	});
</script>
</html>