<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>

<!--CSS-->
<link href="../../../assets/kang/css/finishR.css" rel="stylesheet" type="text/css"/>
<link href="../../../assets/kang/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">

<!--자바스크립트-->
<script type="text/javascript" src="../../../assets/kang/js/bootstrap.js"></script>

<title>예약 완료</title>

</head>

  <body>
    <div><!--class="modal fade"-->

      <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <img id="checked"  src="../../../assets/kang/images/check2-circle.svg">
              <h2>예약이 완료 되었습니다.</h2>
              <p class="sm">상세 내역은 마이페이지에서 확인 가능합니다.</p>
                
            </div>

          <div class="modal-footer">
            <div id="footer1">
              <button class="w-btn-outline w-btn-blue-outline" type="button">
                확인
              </button>
            </div>
          </div>

        </div><!-- /.modal-content -->

      </div><!-- /.modal-dialog-->

    </div><!-- /.modal -->
  </body> 
</html>