<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- 메타태그 -->
        <!--메타데이터-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--CSS -->
        <link href="../../assets/css/heart.css" rel="stylesheet" type="text/css">
        <!-- 자바스크립트 -->
        <script type="text/javascript" src="../../assets/js/jquery/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.js"></script>

        <title>찜목록</title>
    </head>
    <body>
        <div id="wrap">

            <!-- header -->
            <div id="header" class="clearfix">
            </div>

            <div id="container" >
                <div id="aside" class="col-xs-3">
                    <ul>
                        <li>예약관리</li>
                        <ul>
                            <li>결제 대기내역</li>
                            <li>예약내역</li>
                        </ul>
                        <li>나의 강아지</li>
                        <li>메세지</li>
                        <li>찜목록</li>
                        <li>내 정보 수정</li>
                    </ul>
                </div>

                <div id="content">
                    <p id="nav">마이 사이트 > 찜 목록</p>
                    <p id="now">찜 목록</p>
                </div>
            </div>
        </div>
    </body>
</html>