<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>개인 정보 수정</title>
        <link rel="stylesheet" href="../../assets/css/modifyForm.css">
    </head>

    <body>

        <!--wrap-->
        <div id="wrap">

            <!-- header -->
            <div id="header" class="clearfix">
            </div>

            <div id="container">
                <div id="aside" class="col-xs-3">
                    <ul>
                        <li>예약관리</li>
                        <ul>
                            <li>결제 대기내역</li>
                            <li>예약내역</li>
                        </ul>
                        <li>나의 강아지</li>
                        <li>메세지</li>
                        <li>찜목록</li>
                        <li>내 정보 수정</li>
                    </ul>
                </div>

                <div id="content">

                    <div class="profile">
                        <p id="nav">마이 사이트 > 내 정보 수정</p>
                        <p id="now">내 정보 수정</p>
                        <div id = "line">
                            <p class="name">닉네임</p>
                            <p class="modi">뿡빵이 <button class="btn">수정</button></p>
                            <p class="name">비밀번호 </p>
                            <p class="modi">••••••• <button class="btn">수정</button></p>
                            <p class="name">생년월일</p>
                            <p class="modi">09.02.98<button class="btn">수정</button></p>
                            <p class="name">전화번호</p>
                            <p class="modi">010-****-****<button class="btn">수정</button></p>
                            <p class="name">이메일</p>
                            <p class="modi">example@example.com <button class="btn">수정</button></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>