<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>펫시터 수정</title>
        <link rel="stylesheet" href="../../assets/css/petsitterModify.css">
    </head>

    <body>

        <!--wrap-->
        <div id="wrap">

            <!-- header -->
            <div id="header" class="clearfix">
            </div>

            <div id="container">
                <div id="aside" class="col-xs-3">
                    <ul>
                        <li>예약관리</li>
                        <ul>
                            <li>결제 대기내역</li>
                            <li>예약내역</li>
                        </ul>
                        <li>게스트 관리</li>
                        <li>메세지</li>
                        <li>찜목록</li>
                        <li>내 정보 수정</li>
                        <li>펫시팅 정보 수정</li>
                    </ul>
                </div>

                <div id="content">

                    <div class="profile">
                        <p id="nav">마이 사이트 > 펫시팅 정보 수정</p>
                        <p id="now">펫시팅 정보 수정</p>
                        <div id = "line">
                            <p class="name">위치</p>
                            <p class="modi">뿡빵이의 위치 </p>
                            <p class="name">펫시터 소개 </p>
                            <textarea id="intro" ></textarea>
                            <p class="name">펫시터 특징</p>
                            <div class="modi">
                                <div id="icon" style="font-size: 30px;">
                                    <img src="../../assets/image/icon/park.png">
                                    <img src="../../assets/image/icon/veter.png">
                                    <img src="../../assets/image/icon//box.png">
                                    <img src="../../assets/image/icon//feed.png">
                                    <img src="../../assets/image/icon//conver.png">
                                    <img src="../../assets/image/icon//24h.png">
                                </div>
                            </div>
                            <p class="name">펫시터 사진</p>
                            <img id="insertimg"src="../../assets/image/icon/Icon metro-file-picture.png">
                            <p class="modi"></p>
                            <p class="name">가격(1박)</p>
                            <p class="modi">example@example.com </p>

                            <button id="btn">수정</button></p>
                                
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>