<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>호스트 등록</title>
        <link rel="stylesheet" href="../../assets/css/petsitterJoinForm.css">
    </head>

    <body>
        

        <!-- wrap -->
        <div id="wrap">
            <!-- header -->
            <div id="header" class="clearfix">
            </div>
            <!-- container -->
            <div id="container">
                
                <p class="list">
                    1. 강아지를 맞이할 펫시터님의 위치를 알려주세요!
                </p>
                <p class="list">
                    2. 펫시터 님의 사진을 올려주세요! (최소 5장입니다.)
                </p>
                 <!-- 사진 박스-->
                <canvas id = "canv"></canvas>

                <p>
                    <input id = "fileInput" type = "file" multiple = "false" accept = "image/*" onchange = "uploadPicture()">
                </p>

                <p class="list">
                    3. 펫시터님의 특징은 무엇인가요?
                </P>

                <!-- 아이콘 넣기 -->
                <div id="icon" style="font-size: 30px;">
                    <img src="../../assets/image/icon/park.png">
                    <img src="../../assets/image/icon/veter.png">
                    <img src="../../assets/image/icon//box.png">
                    <img src="../../assets/image/icon//feed.png">
                    <img src="../../assets/image/icon//conver.png">
                    <img src="../../assets/image/icon//24h.png">
                </div>
                    
                <P class="list">
                    4. 펫시터님이 어떤 사람인지 적어주세요!
                </P>
                <textarea id="intro" ></textarea>
                    
                    
                <P class="list">
                    5. 펫시터님이 강아지를 돌봐주는 댓가로 개스트로부터 얼마의 돌봄료를 받으시겠습니까?
                    1박을 기준으로 하는 가격입니다.(마이페이지에서 수정이 가능합니다.)
                </P>

                

                <P class="list">
                    6. 마지막 단계입니다. 개어비앤비는 개스트님과 펫시터 님간 원활한 소통과 신뢰를 지향합니다.
                    <br>소중한 반려견을 맡기는 개스트는 펫시터에게 자신의 반려견을 돌보는 것에 대해 몇 가지 요청을 할 수 있으며 개스트와의 매칭을 수락한 펫시터는 이를 준수합니다. 개스트의 요청사항을 성실히 이행한 펫시터는 개어비앤비에서 보장하는 퍼피력을 획득하게 되며 퍼피력은 펫시터가 강아지를 돌보는 능력을 증명합니다.
                    <br><br>
                    만일 호스트께서 예비 개스트가 기재한 요청 사항을 이행하기 어려울 것 같다면, 이 개스트와의 매칭을 거절하시면 됩니다.
                </P>
               
                <!-- 동의 버튼-->
                <button>동의합니다.</button>
                    
            </div>
                
        
        </div>
    </body>

</html>