/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

#bookingOk .close {margin: 10px;}

#bookingOk .modal-title{
  font-weight: bolder;
}

#bookingOk .modal-body {margin: 0px 100px 0px 100px;}

#bookingOk .small{
  font-size: 12px;
  color: #8d8d8d;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #8d8d8d;;
}


#bookingOk .modal-footer p{
  text-align: center;
  margin: 10px;
  font-size: 10px;
  color: #8d8d8d;
}
#bookingOk #checked{
	text-align: center;
}
/*버튼*/

#bookingOk .btnsub {
	padding: 15px 60px;
	background-color: #6DB5EF;
	border: none;
	border-radius: 5px;
 	font-size: 17px;
 	color: #fff;
    font-weight: 600;
}


/*finish1*/
#bookingOk #checked {
  width: 100px;
  height: 100px;
  margin-left: 130px;
}

#bookingOk #checked h2 {text-align: center;}

#bookingOk .sm{
  font-size: 12px;
  color: #6e6e6e;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

#bookingOk #footer1 {
  margin: 0px 210px 0px 0px;
}


