/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.close {margin: 10px;}

.modal-title{
  font-weight: bolder;
}

.modal-body {margin: 0px 100px 0px 100px;}

.small{
  font-size: 12px;
  color: #8d8d8d;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #8d8d8d;;
}


.modal-footer p{
  text-align: center;
  margin: 10px;
  font-size: 10px;
  color: #8d8d8d;
}

/*버튼*/

.w-btn-outline {
  position: relative;
  padding: 15px 60px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-blue-outline {
  border: 3px solid rgba(84, 150, 207, 85%);
  color: #6e6e6e;
}

.w-btn-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn-blue-outline:hover {
  background-color: rgba(84, 150, 207, 85%);
  color: #d4dfe6;
}

.w-btn-outline:active {
  transform: scale(1.5);
}


/*finish1*/
#checked {
  width: 100px;
  height: 100px;
  margin-left: 130px;
}

#checked h2 {text-align: center;}

.sm{
  font-size: 12px;
  color: #6e6e6e;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

#footer1 {
  margin: 0px 210px 0px 0px;
}


