@charset "UTF-8";
/*여백 초기화*/
body, div, ul, li, dl, dt, ol, ht, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin:0; padding:0;}

/*기본*/
ul, ol {list-style-type: none !important;}
a:link {text-decoration: none !important;}
a:visited {text-decoration: none !important;}
a:active {text-decoration: none !important;}
a:hover {text-decoration: none !important;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/*RESET*/
* { margin: 0; padding: 0; }
body { font: 17px 'Nanum Gothic', sans-serif; text-align: center; }
a { text-decoration: none; color: #404040; }
li { list-style: none; }
h3 { border-bottom: 1px solid black; margin-top: 20px; margin-bottom: 5px; }

/*BODY*/
/*base*/
.flexBox {
    display: flex;
    color: #fff;
    text-align: center;
    background: #ff0;
}

.flexBox2 {
    display: flex;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background: #ff0;
}

.flexBox3 {
    display: flex;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background: #ff0;
}

.item{
    color:#555;
}
.item2 {
    width: 200px;
    background: #555;
}

.item3 {
    width: 200px;
    height: 40px;
    background: #555;
}

.item4 {
    width: 200px;
    height: 40px;
    background: #555;
}

/* flex Options*/
/* flex-direction */
.flex-direction_row {flex-direction: row; /*default*/}
.flex-direction_row-reverse {flex-direction: row-reverse;}
.flex-direction_column {flex-direction: column;}
.flex-direction_column-reverse {flex-direction: column-reverse;}

/* flex-wrap */
.flex-wrap_nowrap {flex-wrap: nowrap; /*default*/}
.flex-wrap_wrap {flex-wrap: wrap;}
.flex-wrap_wrap-reverse {flex-wrap: wrap-reverse;}

/* justify-content */
.justify-content_flex-start {justify-content: flex-start; /*default*/}
.justify-content_center {justify-content: center;}
.justify-content_flex-end {justify-content: flex-end;}
.justify-content_space-around {justify-content: space-around;}
.justify-content_space-between {justify-content: space-between;}

/* align-items */
.align-items_stretch {align-items: stretch; /*default*/}
.align-items_flex-start {align-items: flex-start;}
.align-items_center {align-items: center;}
.align-items_flex-end {align-items: flex-end;}
.align-items_baseline {align-items: baseline;}

/* align-content */
.align-content_stretch {align-content: stretch; /*default*/}
.align-content_flex-start {align-content: flex-start;}
.align-content_center {align-content: center;}
.align-content_flex-end {align-content: flex-end;}
.align-content_space-around {align-content: space-around;}
.align-content_space-between {align-content: space-between;}

/* flexBox > div.item Options */
/* flex: 1; */
.flex_1 {flex: 1;}

/* flex: auto; */
.flex_auto {flex: auto;}

/* flex: 0 1 random%; */
.flex_0_1_10per {flex: 0 1 10%;}
.flex_0_1_60per {flex: 0 1 60%;}
.flex_0_1_30per {flex: 0 1 30%;}

/* flex: 0 0 randomPX; */
.flex_0_0_50px {flex: 0 0 50px;}
.flex_0_0_100px {flex: 0 0 100px;}
.flex_0_0_100px {flex: 0 0 150px;}
.flex_0_0_200px {flex: 0 0 200px;}
.flex_0_0_300px {flex: 0 0 300px;}
.flex_0_0_500px {flex: 0 0 500px;}

/* order */
.order_1 {order: 1}
.order_2 {order: 2}
.order_3 {order: 3}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding: 0px;
    width: 1920px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    
}

.width100{
    width:100%;
}

.logo{
    text-align: left;
    flex: 0 0 10%;
    height: 50px;
}

.logo-img{
    width: 150px;
    height: 50px;
}

.searchbox{
    flex: 0 0 60%;
    text-align: center;
    height: 50%;
}
.searchboxin_1{
    width: 200px;
    border: 1px solid #bbb;
    height: 45px;
}

.search_text1{
    height: 42px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color:#181818;
}

.searchboxin_2{
    width: 200px;
    border: 1px solid #bbb;
    height: 45px;
}

.search_text2{
    width: 16.5rem;
    height: 42px;
    text-align: center;
    border:1px solid #bbb;
    background-color: rgb(255, 255, 255);
    padding: 2px 2px 2px 2px;
}

.search_text3{
    border:1px solid #bbb;
    height: 44.5px;
    text-align: center;
    background-color: rgb(168, 217, 250);
    font-weight: 700;
    color:#181818;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align:right;
    flex: 0 0 20%;
    height: 50px;
}

.menu_btn1{
    margin:0;
    flex: 0 0 20%;
}
.btn1_text{
    padding: 8px 5px 8px 5px;
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(168, 217, 250);
    border: 0px;
    color:#181818;
}

.menu_btn2{
    margin:0;
    flex: 0 0 15%;
}

.menu_btn3{
    margin:0; 
    flex: 0 0 15%;
}


