@charset "UTF-8";
/******************************************
초기화 관련
******************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body {font-family: 'Noto Sans KR', sans-serif; color: #333; background-color: #fff !important;}

ul, ol {list-style-type: none;}
a:link {text-decoration: none; color: #000}
a:visited {text-decoration: none; color: #000}
a:active {text-decoration: none; color: #000}
a:hover {text-decoration: none; color: #000}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* 레이아웃 */
#wrap {margin: 0px auto; width: 1440px;}		
#container { width: 1440px;}
#aside {float: left; width: 360px; padding: 0px 0px 0px 0px;}
#content { float: left; width: 1080px; margin: 0px 0px 100px 0px;}

#joinform {
	margin: 50px 0px 0px 220px;
}
.exp{
	font-size: 16px;
	display: inline-block;
	margin: 8px 0px 15px 15px;
	color: #777;
}
.list {
  text-align: left;
  padding: 50px 300px 30px 300px; 
  font-size: 23px;  
}

/*질문01. 사진*/
/* 드래그 앤 드롭 */
#photoarea{
	border: 1px solid #DDD;
	width: 922px;
	height: 242px;
	padding: 10px 10px 0px 10px;
	overflow: scroll;
}

#photoarea img{
	width: 220px;
	height: 220px;
	margin: 0px 0px 5px 5px;
}

/*질문02. 키워드선택*/
/* 키워드 버튼 */
.tag{
  display: inline-block;
  padding: .2em .6em .3em;
  margin: 0px 2px 0px 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #FFF;
  border:1px solid #666;
}
.tag:hover{
  background-color: #DDD;
}
.Q table tr td{
  margin:0px 0px 0px 10px;
}

/*질문03,질문04.소개박스*/
#input-intro {
  width : 700px;
  height : 100px;
  margin: 0 0 0 140px;
  border : 1px solid gray;
  border-radius : 20px;
  text-align: left;
  display : block;
  resize: none;
}

/*질문04.소개박스*/
#intput-question {
  width : 700px;
  height : 100px;
  margin: 0 0 0 140px;
  border : 1px solid gray;
  border-radius : 20px;
  text-align: left;
  display : block;
  resize: none;
}

/*질문05번.주소*/
#address {
  text-align: left;
  padding: 0px 0px 0 280px;
}
#address #sample4_jibunAddress{
	width: 408px;
}

/*질문06.돌봄료책정*/
.Q #cost{
  width:200px;
  height: 50px;
  margin: 0px 0px 0px 370px;
  text-align: right;
  font-size:20px;
}

/*마지막 동의 체크박스 */
.checkbox {
  text-align: center;
  margin: 80px 20px 0px 50px;
}

/*이외 컨테이너 속*/
#holder { 
  border: 10px dashed #ccc; 
  width: 300px; 
  height: 300px; 
}

#holder.hover { 
  border: 10px dashed #333; 
}

.Q{
  padding: 30px 0px 30px 30px;
  border-bottom:1px solid #BBB;
}

#container .LQ{
  padding: 20px 0px 30px 30px;
  border-bottom:0px;
}


#finalbtn {
  padding:10px;
}