@charset "UTF-8";

/*여백 초기화*/
body, div, ul, li, dl, dt, ol, ht, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin:0; padding:0;}

body {font-size:16px; font-family: "Helvetica Neue"; color: #333; background-color: #fff}

ul, ol {list-style-type: none;}
a:link {text-decoration: none; color: #000}
a:visited {text-decoration: none; color: #000}
a:active {text-decoration: none; color: #000}
a:hover {text-decoration: none; color: #000}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* 레이아웃 관련 */
#wrap {margin: 0px auto; width: 1440px;}

#container { width: 1440px;}

#content { float: left; width: 1080px; margin: 0px 0px 100px 0px;}


/*헤더*/
#header{
	width: 1920px;
	margin: 0px auto;
  height: 80px;
  border-bottom: 1px solid #BBB;
	z-index: 1;
	background-color: #ffffff;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body{
	margin-top:80px;
}
    
#header #logo {
  float:center;
}

  #header #logo img {
    width: 140px;
    margin: 0px 0px 0px 60px;
    padding: 10px 0px 0px 0px;

  }
  #header #logo h4 {
    color:#000;
    font-size:35px;
  }

#header #search {
  padding: 15px 40px 0px 170px;
  float:center;
}

  #header #search img{
    height: 50px;
  }

  #header #menu {
    float: center;
    line-height: 30px;
    margin: 0px 0px 0px 400px;
    padding: 25px 0px 0px 50px;
    color:#000;
    font-size: 16px;
  }

  #header #menu span {
    margin: 0px 0px 0px 10px;
  }
          
  #header #menu p{
    display: inline-block;
    padding: 0px 0px 0px 15px;
    margin: 20px 0px 0px 15px;
  }

 /* 왼쪽메뉴(aside) */
    #aside {
    float: left;
    width: 240px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    }
    
   
    #aside #b-aside {
    padding: 45px 0px 0px 0px;
    width: 240px;
    }
    
    #aside>#b-aside {
    margin: 0px 0px 0px 0px;
    }
    
    .aside-img {
    width: 30px;
    margin: 0px 0px 0px 125px;
    vertical-align: middle;
    }
    
    #aside #b-aside>li {
    padding-left: 10px;
    display: block;
    line-height: 60px;
    height: 60px;
    }
    
    #aside #b-aside>ul>li {
    padding: 20px 0px 20px 30px;
    text-align: left;
    background-color: #eeeeee;
    }
    
    #aside #b-aside>#s-aside>ul>li:hover {
    background-color: #eeeeee;
    }
    
    .hide {
    display: none;
    }



/* 메인컨텐츠(content) */
#content-head {
    margin: 45px 0px 30px 30px;
 }
 
 #content-head h1 {
    height: 40px;
    line-height: 30px;
    margin: 3px 0px 3px 0px;
    font-size: 30px;
    font-weight: bold;
 }
 
 #content-head #location {
    display: inline-block;
    margin: 25px 0px 0px 0px;
    font-size: 12px;
 }
 
 #content-head #location ul>li {
    float: left;
 }
 
 #content-head #location ul>li:after {
    content: ">";
    margin: 0px 5px 0px 5px;
 }
 
 #content-head #location ul>li.last:after {
    content: none;
 }
 
.btn {
    background-color:rgba(110 178 239);
}

/* 드래그 앤 드롭 */
#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .contents {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 30px;
  }
  
  .contents .upload-box {
  width: 50%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .contents .upload-box .drag-file {
  position: relative;
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
  }
  
  .contents .upload-box .drag-file.highlight {
  border: 3px dashed red;
  }
  
  .contents .upload-box .drag-file .image {
  width: 40px;
  }
  
  .contents .upload-box .drag-file .message {
  margin-bottom: 0;
  margin-top: 10px;
  color: #707070;
  }
  
  .contents .upload-box .drag-file .preview {
  display: none;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  }
  
  .contents .upload-box .file-label {
  border: 1px solid black;
  margin-top: 30px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100px;
  border-radius: 6px;
  cursor: pointer;
  }
  
  .contents .upload-box .file {
  display: none;
  }
  
  
  .contents {
     display: flex;
     flex-direction: column;
     margin-top: 30px;
  }
  .contents .upload-box {
     width: 100%;
     box-sizing: border-box;
     margin-right: 0;
  }
  .contents .upload-box .drag-file {
     height: 150px;
  }
  .contents .files {
     width: 100%;
     box-sizing: border-box;
     margin-right: 0;
     overflow: initial;
  }
   

 
 
 /*컨텐트 메인*/
 #content-main {
    margin: 0px 0px 0px 30px;
 }

#nav {font-size: 12px;}

#now {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}


/*3번.4번.소개박스*/
#intro {
    width : 700px;
    height : 100px;
    margin: 0 0 0 140px;
    border : 1px solid gray;
    border-radius : 20px;
    text-align: left;
    
    display : block;
    resize: none;
  }


 /* 5번.주소*/
#address {
  text-align: left;
  margin: 0px 250px 0 350px;
}
  

/*6번.돌봄료책정*/
.Q #cost{
    width:200px;
    height: 50px;
    margin: 0px 0px 0px 370px;
    text-align: right;
    font-size:20px;
  }

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}






  #container .Q{
    padding: 20px 0px 30px 30px;
    border-bottom:1px solid #BBB;
  }

  #container .LQ{
    padding: 20px 0px 30px 30px;
    border-bottom:0px;
  }


.name {
    font-size: 20px;
    padding: 30px 0px 5px 0px; 

}



/*버튼 정렬 이쁘게 하고 싶다*/