@charset "UTF-8";

.f-m {
	font-size: 15px;
}

#dogCard {
	margin: 30px 0px 0px 330px;
	width: 510px;
	height: 330px;
	background-color: #F0F8FF;
	border-radius: 20px;
	box-shadow: 8px 8px #c0c0c0;
}

#information #dogCard {
	margin: 20px 0px 40px 0px;
	width: 390px;
	height: 250px;
	font-size: 15px;
}

#dogCard hr {
	margin-top: 5px;
	border-top: 5px solid #699AE5;
}

#cardHeader {
	width: 100%;
	height: 50px;
	background-color: #699AE5;
	border-radius: 20px 20px 0px 0px;
}

#information #cardHeader {
	height: 35px;
}

#headerText {
	font-weight: bold;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
}

#information #headerText {
	font-size: 18px;
	padding: 5px 0px 5px 0px;
}

#imgFile {
	float: left;
	width: 170px;
	background-color: #B7D4F4;
	margin: 0px 18px 0px 20px;
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
}

#information #imgFile {
	width: 150px;
	margin: 0px 18px 0px 18px;
}

#imgFile>p {
	margin: 5px 0px 5px 50px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

#information #imgFile>p {
	margin: 5px 0px 5px 40px;
	
}

#dogCard #imgFile>label {
	margin: 5px 0px 5px 50px;
	color: #ffffff;
	cursor: pointer;
}

#myDogFile {
	display: none;
}

#myDogFile {
	font-size: 15px;
}

#myDogImg {
	width: 170px;
	height: 155px;
}

#information #myDogImg {
	width: 150px;
	height: 135px;
}

#cardBody label {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 14px;
	color: #6e6e6e;
}

#information #cardBody label {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #6e6e6e;
}

#cardBody input[type="text"] {
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 0px 5px 10px;
}

#cardBody input[type="text"]:hover {
	border: 1px solid #aaa;
}

#cardBody select {
    width: 45px;
    padding: 4px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    color: #000;
    outline:none;
}
#cardBody select:hover {border: 1px solid #aaa;}

#cardBody #weight {
	width: 45px;
}

#cardBody #myDogSubmit {
	margin: 10px 0px 0px 200px;
	padding: 7px 40px;
	background-color: #B7D4F4;
	color: #ffffff;
	font-weight: bold;
	border: none;
}

#cardBody #neuterLabel {
	margin-left: 18px;
}

#information #cardBody #neuterLabel {
	margin-left: 5px;
}

#information .index {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	color: #6e6e6e;
}

#information #pName {
	font-size: 25px;
	font-weight: bold;
}

#information #myDogInfo p {
	margin-bottom: 3px;
}

.modal-content {
	width: 675px;
}

.modal-content .wrapper {
	margin: 0px auto;
}

.polaroid {
	float: left;
}

#imgupdateModal #modalSubmit {
	margin: 0px 0px 10px 15px;
}

#imgupdateModal .gImg {
	cursor: pointer;
}

#imgupdateModal .item {
	cursor: default;
}