@charset "UTF-8";

/*여백 초기화*/
body, div, ul, li, dl, dt, ol, ht, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin:0; padding:0;}

body {font-size:16px; font-family: "Helvetica Neue"; color: #333; background-color: #fff}

ul, ol {list-style-type: none;}
a:link {text-decoration: none; color: #000}
a:visited {text-decoration: none; color: #000}
a:active {text-decoration: none; color: #000}
a:hover {text-decoration: none; color: #000}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* 레이아웃 관련 */
#wrap {margin: 0px auto; width: 1440px;}

#container { width: 1440px;}

#content { float: left; width: 1080px; margin: 0px 0px 100px 0px;}


/*헤더 빠진 바디 전체*/
body{
   margin-top:80px;
}
 
    /*어사이드*/
    #aside {
    float: left;
    width: 240px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    }
    
    /* 왼쪽메뉴(aside) */
    #aside #b-aside {
    padding: 45px 0px 0px 0px;
    width: 240px;
    }
    
    #aside>#b-aside {
    margin: 0px 0px 0px 0px;
    }
    
    .aside-img {
    width: 30px;
    margin: 0px 0px 0px 125px;
    vertical-align: middle;
    }
    
    #aside #b-aside>li {
    padding-left: 10px;
    display: block;
    line-height: 60px;
    height: 60px;
    }
    
    #aside #b-aside>ul>li {
    padding: 20px 0px 20px 30px;
    text-align: left;
    background-color: #eeeeee;
    }
    
    #aside #b-aside>#s-aside>ul>li:hover {
    background-color: #eeeeee;
    }
    
    .hide {
    display: none;
    }


/* 컨텐트 헤드*/
#content-head {
    margin: 45px 0px 30px 30px;
 }
 
 #content-head h1 {
    height: 40px;
    line-height: 30px;
    margin: 3px 0px 3px 0px;
    font-size: 30px;
    font-weight: bold;
 }
 
 #content-head #location {
    display: inline-block;
    margin: 25px 0px 0px 0px;
    font-size: 12px;
 }
 
 #content-head #location ul>li {
    float: left;
 }
 
 #content-head #location ul>li:after {
    content: ">";
    margin: 0px 5px 0px 5px;
 }
 
 #content-head #location ul>li.last:after {
    content: none;
 }
 
 
 
 
 /*컨텐트 메인*/
 #content-main {
    margin: 0px 0px 0px 30px;
 }

#nav {font-size: 12px;}


/*질문01. 사진*/
/* 드래그 앤 드롭 */
#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .contents {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 30px;
  }
  
  .contents .upload-box {
  width: 50%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .contents .upload-box .drag-file {
  position: relative;
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
  }
  
  .contents .upload-box .drag-file.highlight {
  border: 3px dashed red;
  }
  
  .contents .upload-box .drag-file .image {
  width: 40px;
  }
  
  .contents .upload-box .drag-file .message {
  margin-bottom: 0;
  margin-top: 10px;
  color: #707070;
  }
  
  .contents .upload-box .drag-file .preview {
  display: none;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  }
  
  .contents .upload-box .file-label {
  border: 1px solid black;
  margin-top: 30px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100px;
  border-radius: 6px;
  cursor: pointer;
  }
  
  .contents .upload-box .file {
  display: none;
  }
  
  .contents {
     display: flex;
     flex-direction: column;
     margin-top: 30px;
  }
  .contents .upload-box {
     width: 100%;
     box-sizing: border-box;
     margin-right: 0;
  }
  .contents .upload-box .drag-file {
     height: 150px;
  }
  .contents .files {
     width: 100%;
     box-sizing: border-box;
     margin-right: 0;
     overflow: initial;
  }
  
#profilephoto {
    width: 200px;
    height: 200px;
}

#now {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}


#container .Q{
    padding: 20px 0px 20px 30px;
    border-bottom:1px solid #BBB;
  }

#container .LQ{
    padding: 20px 0px 20px 30px;
    border-bottom:0px;
  }


.name {
    font-size: 20px;
    padding: 30px 0px 5px 0px; 

}

.modi {
    padding: 0px 0px 5px 0px; 
    border-bottom:1px solid #808080;
}


  