/* 헤더 */
#header .btn1{
	padding: 0px 0px 0px 80px;
}
/* 어사이드 */
#aside {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 250px;
 }
/* 왼쪽메뉴(aside) */
#aside ul {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 15px;}
#aside>ul {margin: 25px 0px 0px 50px;}
#aside ul>li {padding: 10px 0px 10px 0px; text-align: left;}
#aside ul>li:hover {
   background-color: #808080;
}
/* 컨테이너 */
/* 컨텐츠 */
/* 제목 */
#content h2{
	font-size:30px;
	font-weight:1000;
}
/* 중제목 */
#content h3{
	font-size:24px;
	font-weight:1000;
	padding: 10px 0px;
}
/* 소제목 */
#content h4{
	font-size:16px;
	font-weight:1000;
}
#content p{
	font-size:16px;
	padding: 0px 0px 0px 30px;
}

.topb{
	border-top: 3px solid #DDD;
	width: 700px;
}

#content .divone {text-align: left;
padding:0px;}

.leftdiv {text-align: left;}

.nav {
	margin: 0;
}

.size{
	width:700px;
}
.dogimage {
	width:400px;
	margin: 0px 0px 0px 150px;
}