
@charset "UTF-8";
/******************************************
초기화 관련
******************************************/

/*여백 초기화*/
body, div, ul, li, dl, dt, ol, td, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin:0; padding:0;}

body {font-size:16px; font-family: "맑은 고딕", 돋움, 굴림; text-align:center; color: #333; background-color: #fff}

ul, ol {list-style-type: none;}
a:link {text-decoration: none; color: #000}
a:visited {text-decoration: none; color: #000}
a:active {text-decoration: none; color: #000}
a:hover {text-decoration: none; color: #000}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* 레이아웃 관련 */
#wrap {margin: 0px auto; width: 1440px; }

#header {height:150px; width: 100%;}

#container { width: 1440px;}

#aside {float: left; width: 360px; padding: 0px 0px 0px 0px;}

#content { float: left; width: 1080px; margin: 0px 0px 100px 0px;}


 .star-rating{
	 width:205px;
 }
 .star-rating, star-rating span{
	 display:inline-block;
	 height:39px;
	 overflow:hidden;
	 background:url(../images/star.png)no-repeat; width:100px;
 }
 .star-rating span{
	 background-position:left bottom;
	 line-height:0;
	 vertical-align:top;
 }