@charset "UTF-8";
/******************************************
초기화 관련
******************************************/

/*여백 초기화*/
body, div, ul, li, dl, dt, ol, td, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin:0; padding:0;}

body {font-size:18px; font-family: "Helvetica Neue", "맑은 고딕", 돋움, 굴림; color: #333; background-color: #fff}

ul, ol {list-style-type: none;}
a:link {text-decoration: none; color: #000}
a:visited {text-decoration: none; color: #000}
a:active {text-decoration: none; color: #000}
a:hover {text-decoration: none; color: #000}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.color {
    background-color:#3D9BE9;
}
/* 공통 레이아웃*/
#wrap {margin: 0px auto; width: 1440px;}
#header{
	 width: 1920px;
	 margin: 0px auto;
     height: 80px;
     border-bottom: 1px solid #BBB;
	 z-index: 1;
	 background-color: #ffffff;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}
body{
	margin-top:80px;
}
    #header #logo {
        float:center;
    }
    #header #logo img {
        width: 140px;
        margin: 0px 0px 0px 60px;
        padding: 10px 0px 0px 0px;
    }
        #header #logo h4 {
            color:#000;
            font-size:35px;
        }
        #header #search {
            padding: 15px 40px 0px 170px;
            float:center;
        }
            #header #search img{
                height: 50px;
            }
            #header #menu {
                float: center;
                line-height: 30px;
                margin: 0px 0px 0px 400px;
                padding: 25px 0px 0px 50px;
                color:#000;
                font-size: 16px;
            }
        #header #menu span {
            margin: 0px 0px 0px 10px;
        }
        #header #menu p{
            display: inline-block;
			padding: 0px 0px 0px 15px;
            margin: 20px 0px 0px 15px;
        }
	#container { width: 1440px;}
	#aside {float: left; width: 360px; padding: 0px 0px 0px 0px;}
	#content { float: left; width: 1080px; margin: 0px 0px 100px 0px;}

/* 컨테이너 */
#booking{
    margin: 20px 50px 0px 0px;
    padding: 0px 50px 50px 50px;
}
#l-calendar{
    margin:0px 0px 0px 70px;
}
    #container #btn1{
        margin: 10px 0px 0px 0px;
        width: 200px;
        height: 50px;
    }
    #container #btn2{
        height: 50px;
    }
#booking .Q{
    padding: 30px 0px 30px 0px;
    margin: 0px 0px 0px 0px;
}
#hostprofile{
    margin: 120px 0px 0px 0px;
    padding: 10px 40px 10px 40px;
    border:1px solid #DDD;
    border-radius: 10px;
}
    #profile{
        border-bottom: 1px solid #DDD;
        padding : 20px 40px 30px 40px;
    }
        #hostimg{
            float:right;
            width:150px;
        }
    #checkbox{
        padding: 0px 10px 30px 10px;
    }
        #check{
            margin:0px 100px 0px 20px;
        }
        #check2{
            margin:0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            text-align: right;
        }
        #checkbox p{
            margin: 0px 0px 0px 80px;
        }
#btn2 {
    margin: 20px 0px 0px 160px;
}