
#header{
    height: 80px;
    border-bottom: 1px solid #BBB;
}
    #header #logo {
        float:left;
    }
    #header #logo img {
        width: 140px;
        margin: 0px 0px 0px 60px;
        padding: 10px 0px 0px 0px;
    }
        #header #logo h4 {
            color:#000;
            font-size:35px;
        }
    #header #search {
        padding: 10px 0px 0px 300px;
        float:left;
    }
        #header #search img{
            height: 50px;
        }
        #header #menu {
            line-height: 30px;
            padding: 10px 0px 0px 1300px;
            color:#000;
            font-size: 16px;
        }
        #header #menu span {
            margin: 0px 0px 0px 10px;
        }
        #header #menu p{
            display: inline-block;
            margin: 20px 0px 0px 15px;
        }